.output {
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: center;
  height: 700px;
  width: 500px;
  position: relative;
}

.btn1 {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100px;
  cursor: pointer;
  opacity: 0;
}

.btn2 {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 100px;
  cursor: pointer;
  opacity: 0;
}

img {
  height: 100%;
  width: 100%;
}
